/* Universal Selector */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

/* Body */
body{
    background: linear-gradient(to right,#0f172a,#1e293b);
    color:white;
}

/* Header */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    position:sticky;
    top:0;
    background:rgba(0,0,0,0.5);
    backdrop-filter:blur(8px);
}

/* Logo */
.logo h2{
    font-size:32px;
    color:#38bdf8;
    text-transform:uppercase;
    letter-spacing:2px;
}

/* Navigation */
.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin:0 15px;
}

.navbar ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
    position:relative;
}

/* Hover Effect */
.navbar ul li a::after{
    content:'';
    width:0;
    height:2px;
    background:#38bdf8;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:0.4s;
}

.navbar ul li a:hover::after{
    width:100%;
}

.navbar ul li a:hover{
    color:#38bdf8;
}

/* Button */
.btn{
    text-decoration:none;
    color:white;
    background:#38bdf8;
    padding:10px 20px;
    border-radius:25px;
    transition:0.3s;
}

.btn:hover{
    background:#0ea5e9;
    transform:scale(1.05);
}

/* Hero Section */
.hero{
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:20px;
}

.hero-content{
    max-width:700px;
}

.hero-content h1{
    font-size:55px;
    margin-bottom:10px;
}

.hero-content span{
    color:#38bdf8;
}

.hero-content h3{
    font-size:28px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:30px;
}

/* Buttons Section */
.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.btn1,.btn2{
    text-decoration:none;
    padding:12px 25px;
    border-radius:30px;
    transition:0.3s;
}

.btn1{
    background:#38bdf8;
    color:white;
}

.btn2{
    border:2px solid #38bdf8;
    color:#38bdf8;
}

.btn1:hover,
.btn2:hover{
    transform:translateY(-5px);
}